.uk-child-width-1-1(uk-grid='')
  div
    .uk-card.uk-card-default.uk-card-hover.uk-card-body
      h1 Accordion
      a(href='https://getuikit.com/docs/accordion' target='blank')
        | link
      ul(uk-accordion='')
        li.uk-open
          a.uk-accordion-title(href='#') Item 1
          .uk-accordion-content
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        li
          a.uk-accordion-title(href='#') Item 2
          .uk-accordion-content
            p
              | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.
        li
          a.uk-accordion-title(href='#') Item 3
          .uk-accordion-content
            p
              | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.

  div
    .uk-card.uk-card-default.uk-card-hover.uk-card-body
      h1 Alert
      a(href='https://getuikit.com/docs/alert' target='blank')
        | link
      .uk-alert こんな感じのエリアのこと
      div.uk-alert-danger(uk-alert='')
        a.uk-alert-close(uk-close='')
        h3 Notice!!
        p
          code uk-alert-danger
          | などで色変更。
          br
          | aタグに
          code uk-alert-close
          | クラスで削除ボタン。
          code uk-close
          | をつければ罰印が作れる
      p
        | アニメーション関連も変更可能。
        code duration
        | など。

  div
    .uk-card.uk-card-default.uk-card-hover.uk-card-body
      h1 Animation
      a(href='https://getuikit.com/docs/animation' target='blank')
        | link
      p
        | アニメーションは本家参照

  div
    .uk-card.uk-card-default.uk-card-hover.uk-card-body
      h1 Badge
      a(href='https://getuikit.com/docs/badge' target='blank')
        | link
      p
        span.uk-badge 100

  div
    .uk-card.uk-card-default.uk-card-hover.uk-card-body
      h1 Base
      a(href='https://getuikit.com/docs/base' target='blank')
        | link
      h3 headingについて
      p
        code .uk-h1
        | などを使うと、その大きさに変化する。例えば、以下はh1タグで宣言しているが、h5と同じ大きさになる。
      h1.uk-h5
        | ここはh5
      h3 blockquote
      blockquote(cite='#')
        p.uk-margin-small-bottom
          | The blockquote element represents content that is quoted from another source, optionally with a citation which must be within a footer or cite element.
        footer
          | Someone famous in
          cite
            a(href='#') Source Title
      h3 code
      pre
        code
          | print "hoge"
  div
    .uk-card.uk-card-default.uk-card-hover.uk-card-body
      h1 Breadcrumb
      a(href='https://getuikit.com/docs/breadcrumb' target='blank')
        | link
      ul.uk-breadcrumb
        li
          a(href='') hoge
        li
          a(href='') fuga
        li
          span geho
  div
    .uk-card.uk-card-default.uk-card-hover.uk-card-body
      h1 Button
      a(href='https://getuikit.com/docs/button' target='blank')
        | link
      p
        code uk-button
        | と
        code uk-button-default
        | /
        code uk-button-primary
        | をaタグかbuttonタグにつければ良い
      p(uk-margin='')
        a.uk-button.uk-button-default(href='#') Link
        button.uk-button.uk-button-default Default
        button.uk-button.uk-button-default(disabled='') Disabled
        button.uk-button.uk-button-primary Primary
        button.uk-button.uk-button-secondary Secondary
        button.uk-button.uk-button-danger Danger
        button.uk-button.uk-button-text Text
        button.uk-button.uk-button-link Link
        button.uk-button.uk-button-default.uk-button-small small
        button.uk-button.uk-button-default.uk-button-large large
        .uk-button-group
          button.uk-button.uk-button-secondary Button
          button.uk-button.uk-button-secondary Button
          button.uk-button.uk-button-secondary Button


  div
    .uk-card.uk-card-default.uk-card-hover.uk-card-body
      h1 Close
      a(href='https://getuikit.com/docs/close' target='blank')
        | link
      p
        | a,buttonにuk-close属性をつければ閉じボタンになる
      button.uk-close-large(type='button', uk-close='')
      p ドロップボタンなどでも同じく
      .uk-inline
        button.uk-button.uk-button-default(type='button') Click
        div(uk-drop='mode: click')
          .uk-card.uk-card-body.uk-card-default
            button.uk-drop-close(type='button', uk-close='')
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.

  div
    .uk-card.uk-card-default.uk-card-hover.uk-card-body
      h1 Description List
      a(href='https://getuikit.com/docs/description-list' target='blank')
        | link
      dl.uk-description-list.uk-description-list-divider
        dt Description term
        dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        dt Description term
        dd
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        dt Description term
        dd
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

  div
    .uk-card.uk-card-default.uk-card-hover.uk-card-body
      h1 Divider
      a(href='https://getuikit.com/docs/divider' target='blank')
        | link
      hr
      hr.uk-divider-icon
      hr.uk-divider-small
      hr.uk-divider-vertical

  div
    .uk-card.uk-card-default.uk-card-hover.uk-card-body
      h1  Drop
      a(href='https://getuikit.com/docs/drop' target='blank')
        | link
      .uk-section-xsmall
        p button要素などの下にuk-drop属性のdiv要素をつけるだけ。位置調整など詳細は公式参照。アニメーションもつけれる。
        button.uk-button.uk-button-default(type='button') Hover
        div(uk-drop='')
          .uk-card.uk-card-body.uk-card-default
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
        button.uk-button.uk-button-default(type='button') Click
        div(uk-drop='mode: click')
          .uk-card.uk-card-body.uk-card-default
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.

  div
    .uk-card.uk-card-default.uk-card-hover.uk-card-body
      h1 Dropdown
      a(href='https://getuikit.com/docs/dropdown' target='blank')
        | link
      .uk-section-xsmall
        p dropの中身にnavをつけたいときはこちらを使う（dropとの差異がいまいちわからない）。使い方はdropと同じ。
        button.uk-button.uk-button-default(type='button') Hover
        div(uk-dropdown='')
          ul.uk-nav.uk-dropdown-nav
            li.uk-active
              a(href='#') Active
            li
              a(href='#') Item
            li.uk-nav-header Header
            li
              a(href='#') Item
            li
              a(href='#') Item
            li.uk-nav-divider
            li
              a(href='#') Item

  div
    .uk-card.uk-card-default.uk-card-hover.uk-card-body
      h1 Form
      a(href='https://getuikit.com/docs/form' target='blank')
        | link
      p
        | 基本的にはformの各要素に対応するクラスをつけていくだけ。
        | form要素をある程度グループ化して名前をつけたければ、fieldsetとlegendを使う。余白の調整にはuk-marginを使う…？いまいちかっこ悪い気がする。
      form
        fieldset.uk-fieldset
          legend.uk-legend Legend1
          .uk-margin
            input.uk-input(type='text', placeholder='Input').uk-form-success
          .uk-margin
            select.uk-select.uk-form-danger
              option Option 01
              option Option 02
          .uk-margin
            textarea.uk-textarea(rows='5', placeholder='Textarea')
        fieldset.uk-fieldset
          legend.uk-legend Legend2
          .uk-margin.uk-grid-small.uk-child-width-auto.uk-grid
            label
              input.uk-radio(type='radio', name='radio2', checked='')
              |  A
            label
              input.uk-radio(type='radio', name='radio2')
              |  B
          .uk-margin.uk-grid-small.uk-child-width-auto.uk-grid
            label
              input.uk-checkbox(type='checkbox', checked='')
              |  A
            label
              input.uk-checkbox(type='checkbox')
              |  B
          .uk-margin
            input.uk-range(type='range', value='2', min='0', max='10', step='0.1')
      p 
        | ラベル付きの場合は、form要素またはfieldset要素にクラスを追加し、ラベルの位置を上/横などで変更できる。
        | ラベルにはuk-form-labelを、ラベルに対応する要素にはuk-form-controlsを追加する。
        code uk-form-controls-text
        | を使うとよりよくalignできる…？（違いがわからなかった）
      form.uk-form-stacked
        .uk-margin
          label.uk-form-label(for='form-stacked-text') Text
          .uk-form-controls
            input#form-stacked-text.uk-input(type='text', placeholder='Some text...')
        fieldset.uk-form-horizontal.uk-fieldset
          .uk-margin
            label.uk-form-label(for='form-stacked-select') Select
            .uk-form-controls
              select#form-stacked-select.uk-select
                option Option 01
                option Option 02
          .uk-margin
            .uk-form-label Radio
            .uk-form-controls
              label
                input.uk-radio(type='radio', name='radio1')
                |  Option 01
              br
              label
                input.uk-radio(type='radio', name='radio1')
                |  Option 02
      p アイコンの追加も楽。uk-inlineでくくってやりながら、uk-form-iconを使う。
      form
        .uk-margin
          .uk-inline
            span.uk-form-icon(uk-icon='icon: user')
            input.uk-input(type='text')
        .uk-margin
          .uk-inline
            span.uk-form-icon.uk-form-icon-flip(uk-icon='icon: lock')
            input.uk-input(type='text')

  div
    .uk-card.uk-card-default.uk-card-hover.uk-card-body
      h1 Heading
      a(href='https://getuikit.com/docs/heading' target='blank')
        | link
      p
        | headingのサイズ/スタイルを変更したいときに使う。…と思ったが、サイズ変わらなかった。なぜ。。
      h1.uk-heading-small h3だけどsmall
      h1.uk-heading-xlarge h3だけどxlarge
      h3.uk-heading-divider dividerつき
      h3.uk-heading-bullet bulletつき
      h3.uk-heading-line 
        span 横線つき
  div
    .uk-card.uk-card-default.uk-card-hover.uk-card-body
      h1 Animation
      a(href='https://getuikit.com/docs/animation' target='blank')
        | link
      p
        | アニメーションは本家参照
  div
    .uk-card.uk-card-default.uk-card-hover.uk-card-body
      h1 Animation
      a(href='https://getuikit.com/docs/animation' target='blank')
        | link
      p
        | アニメーションは本家参照
  div
    .uk-card.uk-card-default.uk-card-hover.uk-card-body
      h1 Animation
      a(href='https://getuikit.com/docs/animation' target='blank')
        | link
      p
        | アニメーションは本家参照
  div
    .uk-card.uk-card-default.uk-card-hover.uk-card-body
      h1 Animation
      a(href='https://getuikit.com/docs/animation' target='blank')
        | link
      p
        | アニメーションは本家参照
  div
    .uk-card.uk-card-default.uk-card-hover.uk-card-body
      h1 Animation
      a(href='https://getuikit.com/docs/animation' target='blank')
        | link
      p
        | アニメーションは本家参照
  div
    .uk-card.uk-card-default.uk-card-hover.uk-card-body
      h1 Animation
      a(href='https://getuikit.com/docs/animation' target='blank')
        | link
      p
        | アニメーションは本家参照
  div
    .uk-card.uk-card-default.uk-card-hover.uk-card-body
      h1 Animation
      a(href='https://getuikit.com/docs/animation' target='blank')
        | link
      p
        | アニメーションは本家参照
